{% extends "companies/base.html" %}

{% load static %}

{% block link %}<link rel="stylesheet" href='{% static 'css/companies/addInitialTest.css' %}'>{% endblock  %}

{% block main %}
<div class='initialTest-container'>
    <div class='left'>
        <a class='form-labels__add' id='form-labels__add'>Добавить вопрос</a>
        <form action="{% url 'companies:addInitialTest' vacancy.id %}" method='post' class='addInitialTest-form'>
        {% csrf_token %}
            <div class="form-labels__container">
                <div class="form-label__container">
                    <div class='form-label__h1'>Введите вопрос: </div>
                    <div class='form-label'>{{ form.question }}</div>
                </div>
                <div class="form-label__container">
                    <div class='form-label__h1'>Введите ответ: </div>
                    <div class='form-label'>{{ form.answer }}</div>
                </div>
            </div>
            <div id='form-labels__withnew'></div>
            <div class='form-btn'><input class="links-btn" type="submit" value='Сохранить вопросы'></div>
        </form>
    </div>
    <div class='right'>
        <div class='right__h1'>Пользователи, прошедшие входное тестирование: </div>
        {% if candidates %}
            <form action="{% url 'companies:addInitialTest' vacancy.id %}" method='post' class='usersTests-form'>
            {% csrf_token %}
                {% for candidate in candidates %}
                    <div class='candidate-container'>
                        <div class='candidate-container__p'>{{ candidate.username_id }}, количество правильных ответов: {{ candidate.score }}</div>
                        <div class='candidate-container_choice'>
                            <input
                              class='choice__inp'
                              type="checkbox"
                              id="contactChoice{{candidate.id}}"
                              name="testStatus"
                              value="Не пройден"/>
                            <label class='choice__label' for="contactChoice{{candidate.id}}">Не пройден</label>
                            <input class='choice__inp' type="checkbox" id="contactChoice{{candidate.id}}" name="testStatus" value="Пройден" />
                            <label class='choice__label' for="contactChoice{{candidate.id}}">Пройден</label>
                        </div>
                    </div>
                {% endfor %}
                <div class='form-btn'><input class="links-btn" type="submit" value='Сохранить'></div>
            </form>
        {% else %}
            <div>Никто пока не прошёл тест</div>
        {% endif %}
    </div>
</div>

<template id='form-vacancy'>
    <div class="form-labels__container">
        <div class="form-label__container">
            <div class='form-label__h1'>Введите вопрос: </div>
            <div class='form-label'>{{ form.question }}</div>
        </div>
        <div class="form-label__container">
            <div class='form-label__h1'>Введите ответ: </div>
            <div class='form-label'>{{ form.answer }}</div>
        </div>
    </div>
</template>
{% endblock  %}

{% block javascript %}<script src="{% static 'js/companies/addInitialTest.js' %}"></script>{% endblock %}